.route {
    width: 78rem;
    height: 13rem;
    position: absolute;
    top: 19rem;
    left: 3rem;
    margin-top: 1rem;
}

.scheduler {
    padding-left: 4rem;
    padding-top: 10rem;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 160vh;
}

.label {
    font-weight: bolder;
    margin: 1.5rem 0rem;
}

.map{
    position: absolute;
    top: 35rem;

}

form input {
    border-radius: 8px;
    border: 2px solid #0077B6;
    background: #C4DCE8;
    padding: 0.5rem 0.5rem;
}